<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="MSSqlConStr" connectionString="Data Source=(local);Initial Catalog=Test2;Integrated Security=SSPI;" />
    <add name="TestBulankin.Properties.Settings.TestConnectionString"
      connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Test.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.windows.forms jitDebugging="true" />
</configuration>

<!--
Находим строку
<add name="MSSqlConStr" connectionString="Data Source=myServerName\myInstanceName;Initial Catalog=myDataBase;User ID=myUsername;Password=myPassword"/>
Где:
myServerName вместо этого указываем имя сервера
myInstanceName вместо этого указываем имя службы sql server
myDataBase вместо этого указываем имя базы
myUsername вместо этого указываем логин пользователя
myPassword вместо этого указываем пароль пользователя

Сохраняем изменения и запускаем приложение.
-->